 body{
     font-family: sans-serif;
 }

header{
  background-image: url("./image.jpeg");
  background-size: cover;
  background-position: 0 67%;
  width: 100%;
  height: 270px;
  margin-bottom: 30px;
}

 .currentCity{
     text-align: center;
     font-size: 22px;
     padding-top: 7px;
 }

 #map{
 	border: black solid 1px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-height: 500px;
    max-width: 500px;
    left: 0;
 }

 a{
     color: black;
 }

.searchArea{
    text-align: center;
}

#icon{
    color: white;
}


 .search{
     max-width: 500px;
     margin: 0 auto;
     background-color: black;
     border-radius: 5px;
 }

 .search:hover{
    background-color: rgb(82, 82, 82);
 }

 /* Unit measure switch formatting is next 7 formatting sections*/
.switch {
  height: 42px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  margin: 4px 15px;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 10px rgb(168, 168, 168);
  -webkit-transition: .7s;
  transition: .7s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "Results";
  height: 35px;
  width: 50%;
  left: 4px;
  bottom: 3px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px rgba(0, 0, 0, 0.2) 0px 2px 2px
  0px;
  -webkit-transition: .7s;
  transition: .7s;
  border-radius: 5px;
}

.slider:hover:before{
    background-color: rgb(82, 82, 82);
    color: white;
}

.slider:focus{
	background-color: black;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  background-color: black;
  content: "Wish List";
  -webkit-transform: translateX(97%);
  -ms-transform: translateX(97%);
  transform: translateX(97%);
}

input:checked + .slider:hover:before{
	background-color: rgb(82, 82, 82);
}

 .emptydiv{
    margin: 0 auto;
    margin-bottom: 10px;
 }

 .favoriteButton{
     float: right;
     background-color: black;
     color: white;
 }

 .favoriteButton:hover{
    background-color: rgb(82, 82, 82);
    color: white;
 }

 .deleteButton{
    float: right;
    background-color: black;
    color: white;
}

.deleteButton:hover{
   background-color: rgb(82, 82, 82);
   color: white;
}

 .name{
 	font-size: 20px;
 }

 .brewery_type{
 	font-size: 15px;
 }

 .street{
 	font-size: 15px;
 }

 .foot{
     text-align: center;
     margin-top: 100px;
     padding-top: 20px;
 	font-size: 14px;
     background-color: black;
     color: white;
 }